<style>
    .orders-data{border: 1px solid #eee;padding: 2rem;}
</style>
<div class="orders-data">
    <div class="dash-head mb-1">
        <h3>Manage Orders</h3>
        <button class="primary-btn">Add Order</button>
    </div>
    <div class="orders-table">
        <table>
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Order Id</th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Od-101</td>
                    <td>Name & image</td>
                    <td>₹ 1200/-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>