<div class="dash-content-wrap">
    <div class="dash-head mb-1">
        <h3>My Profile</h3>
    </div>

    <style>
        .profile-form .form-group{margin-bottom: 1rem;}
        .profile-form label{display: block;font-size: 14px;margin-bottom: 0.2rem;}
        .profile-form input{width: 100%;padding: 0.5rem;border: 1px solid #ddd;border-radius: 5px;
        }
    </style>
    <div class="profile-form" id="profile-form">
        
        <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" id="userName" placeholder="Enter name" value="">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter email" value="" disabled>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" placeholder="Enter phone" value="">
        </div>
    </div>

</div>

