<style>
    .d-reporting{display: flex;gap: 1rem;padding: 1rem;background-color: #efefef;border-radius: 1rem;
    flex-flow: row wrap;}
    .d-reporting-card{flex: 1 1 22%;text-align: center;padding: 4rem 2rem;
    border: 1px solid #ddd;border-radius: 1rem;background-color: var(--white);}
    .d-reporting-card>h1{font-size: 2rem;font-weight: bolder;}
</style>
<div class="d-reporting">
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
    <div class="d-reporting-card">
        <h1>12</h1>
        <p>customers</p>
    </div>
</div>